/simdpath-tests/data/wikidata/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/simdpath-tests/data/wikidata_prettified/wikidata_person.json filter=lfs diff=lfs merge=lfs -text
/simdpath-tests/data/wikidata_prettified/wikidata_profession.json filter=lfs diff=lfs merge=lfs -text
/simdpath-tests/data/wikidata_prettified/wikidata_properties.json filter=lfs diff=lfs merge=lfs -text
