[submodule "crates/rsonpath-benchmarks"]
	path = crates/rsonpath-benchmarks
	url = git@github.com:V0ldek/rsonpath-benchmarks.git
[submodule "crates/rsonpath-test/jsonpath-compliance-test-suite"]
	path = crates/rsonpath-test/jsonpath-compliance-test-suite
	url = https://github.com/jsonpath-standard/jsonpath-compliance-test-suite.git
