* eol=lf
/pdf/* -text
reports/* linguist-generated
target/criterion/* linguist-generated
target/docs/* linguist-documentation
/rsonpath-benchmarks/implementations/jsonski/* linguist-vendored
/rsonpath-benchmarks/implementations/jsonski/RustEntryPoint.cpp  -linguist-vendored
/rsonpath-benchmarks/implementations/jsonski/RustEntryPoint.h  -linguist-vendored
/simd-benchmarks/plot.ipynb linguist-documentation
/simdpath-tests/data/wikidata/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/simdpath-tests/data/wikidata_prettified/wikidata_person.json filter=lfs diff=lfs merge=lfs -text
/simdpath-tests/data/wikidata_prettified/wikidata_profession.json filter=lfs diff=lfs merge=lfs -text
/simdpath-tests/data/wikidata_prettified/wikidata_properties.json filter=lfs diff=lfs merge=lfs -text
/simdpath/data/wikidata/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/simdpath/data/wikidata_prettified/wikidata_person.json filter=lfs diff=lfs merge=lfs -text
/simdpath/data/wikidata_prettified/wikidata_profession.json filter=lfs diff=lfs merge=lfs -text
/simdpath/data/wikidata_prettified/wikidata_properties.json filter=lfs diff=lfs merge=lfs -text
/simdpath/data/wikidata_compressed/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/simdpath/data/wikidata_compressed/wikidata_combined.json.old filter=lfs diff=lfs merge=lfs -text
/simdpath/data/wikidata_prettified/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/rsonpath/data/wikidata/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/rsonpath/data/wikidata_compressed/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/rsonpath/data/wikidata_prettified/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/rsonpath/data/wikidata_prettified/wikidata_person.json filter=lfs diff=lfs merge=lfs -text
/rsonpath/data/wikidata_prettified/wikidata_profession.json filter=lfs diff=lfs merge=lfs -text
/rsonpath/data/wikidata_prettified/wikidata_properties.json filter=lfs diff=lfs merge=lfs -text
/rsonpath/benches/benchset/wikidata_combined/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/data/wikidata/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/data/wikidata_compressed/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/data/wikidata_prettified/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
/data/wikidata_prettified/wikidata_person.json filter=lfs diff=lfs merge=lfs -text
/data/wikidata_prettified/wikidata_profession.json filter=lfs diff=lfs merge=lfs -text
/data/wikidata_prettified/wikidata_properties.json filter=lfs diff=lfs merge=lfs -text
/rsonpath-benchmarks/benches/benchset/wikidata_combined/wikidata_combined.json filter=lfs diff=lfs merge=lfs -text
