name: ClusterFuzzLite PR fuzzing

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths-ignore:
      - '.codeql/**'
      - '.github/internal_templates/**'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/dependabot.yml'
      - '**/.vscode/**'
      - '**/*.code-workspace'
      - '**/LICENSE'
      - '**/cliff.toml'
      - '**/*.md'
      - 'book/**'
      - 'img/**'
      - 'pdf/**'
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  PR:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.sanitizer }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        sanitizer:
        - address
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          github.com:443
          api.github.com:443
          crates.io:443
          index.crates.io:443
          static.crates.io:443
          archive.ubuntu.com:80
          security.ubuntu.com:80
          static.rust-lang.org:443
          gcr.io:443
          storage.googleapis.com:443

    - name: Build Fuzzers (${{ matrix.sanitizer }})
      id: build
      uses: google/clusterfuzzlite/actions/build_fuzzers@884713a6c30a92e5e8544c39945cd7cb630abcd1 # v1
      with:
        language: rust
        github-token: ${{ secrets.GITHUB_TOKEN }}
        sanitizer: ${{ matrix.sanitizer }}
        storage-repo: https://${{ secrets.CLUSTERFUZZLITE_STORAGE_TOKEN }}@github.com/rsonquery/rsonpath-fuzz-storage.git
        storage-repo-branch: main
        storage-repo-branch-coverage: gh-pages
    - name: Run Fuzzers (${{ matrix.sanitizer }})
      id: run
      uses: google/clusterfuzzlite/actions/run_fuzzers@884713a6c30a92e5e8544c39945cd7cb630abcd1 # v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        fuzz-seconds: 600
        mode: 'code-change'
        sanitizer: ${{ matrix.sanitizer }}
        output-sarif: true
        storage-repo: https://${{ secrets.CLUSTERFUZZLITE_STORAGE_TOKEN }}@github.com/rsonquery/rsonpath-fuzz-storage.git
        storage-repo-branch: main
        storage-repo-branch-coverage: gh-pages
