name: "Nix Shell Build"
on:
  pull_request:
    branches: ["main", "nix"]
  push:
    branches: ["main", "nix"]

permissions:
  contents: read

jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            crates.io:443
            index.crates.io:443
            static.crates.io:443
            static.rust-lang.org:443
            nixos.org:443
            cache.nixos.org:443
            channels.nixos.org:443
            releases.nixos.org:443
            tarballs.nixos.org:443

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true
      - uses: cachix/install-nix-action@7be5dee1421f63d07e71ce6e0a9f8a4b07c2a487 # v31.6.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: rrbutani/use-nix-shell-action@59a52b2b9bbfe3cc0e7deb8f9059abe37a439edf # v1.1.0
        with:
          file: shell.nix
      - name: Add Nightly
        run: rustup toolchain install nightly-x86_64-unknown-linux-gnu
      - name: Add Rustup
        run: rustup component add rustfmt --toolchain nightly-x86_64-unknown-linux-gnu
      - name: Build
        run: just build
