name: "Nix Shell Build"
on:
  pull_request:
    branches: ["main", "nix"]
  push:
    branches: ["main", "nix"]

permissions:
  contents: read

jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            crates.io:443
            index.crates.io:443
            static.crates.io:443
            static.rust-lang.org:443
            nixos.org:443
            cache.nixos.org:443
            channels.nixos.org:443
            releases.nixos.org:443
            tarballs.nixos.org:443

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: rrbutani/use-nix-shell-action@59a52b2b9bbfe3cc0e7deb8f9059abe37a439edf # v1.1.0
        with:
          file: shell.nix
      - name: Add Nightly
        run: rustup toolchain install nightly-x86_64-unknown-linux-gnu
      - name: Add Rustup
        run: rustup component add rustfmt --toolchain nightly-x86_64-unknown-linux-gnu
      - name: Build
        run: just build
