name: Release

on:
  push:
    tags:
      - v**

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: "aarch64-linux-gnu-gcc"
  CARGO_PROFILE_DEV_BUILD_OVERRIDE_DEBUG: "true"

permissions:
  contents: read

jobs:
  check-install:
    name: Check cargo install succeeds
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
      - name: Remove config
        run: rm -rf ./.cargo
      - name: Install Rust toolchain (stable)
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # stable
        with:
          toolchain: stable
      - name: Override toolchain
        run: rustup override set stable
      - name: Install
        run: cargo install --bin rq --path ./crates/rsonpath
        env:
          RUSTFLAGS: "--deny warnings"

  build:
    name: Build matrix
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        target_triple:
          - aarch64-unknown-linux-gnu
          - i686-pc-windows-gnu
          - i686-pc-windows-msvc
          - i686-unknown-linux-gnu
          - x86_64-apple-darwin
          - x86_64-pc-windows-gnu
          - x86_64-pc-windows-msvc
          - x86_64-unknown-linux-gnu
        include:
          - os: ubuntu-24.04-arm
            target_triple: aarch64-unknown-linux-gnu
            rustflags: "-C link-arg=-fuse-ld=lld --deny warnings"
          - os: ubuntu-latest
            target_triple: i686-unknown-linux-gnu
            # This target needs special setup.
            prologue-script: sudo apt update && sudo apt install gcc-multilib
            rustflags: "-C link-arg=-fuse-ld=lld --deny warnings"
          - os: ubuntu-latest
            target_triple: x86_64-unknown-linux-gnu
            rustflags: "-C link-arg=-fuse-ld=lld --deny warnings"
          - os: macos-latest
            target_triple: x86_64-apple-darwin
            rustflags: "--deny warnings"
          - os: windows-latest
            target_triple: i686-pc-windows-gnu
            # This target needs special setup with MinGW.
            needs-mingw: x86
            rustflags: "-C link-arg=-fuse-ld=lld --deny warnings"
          - os: windows-latest
            target_triple: i686-pc-windows-msvc
            rustflags: "-C link-arg=-fuse-ld=lld --deny warnings"
          - os: windows-latest
            target_triple: x86_64-pc-windows-gnu
            rustflags: "-C link-arg=-fuse-ld=lld --deny warnings"
          - os: windows-latest
            target_triple: x86_64-pc-windows-msvc
            rustflags: "-C link-arg=-fuse-ld=lld --deny warnings"
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Run prologue script
        if: matrix.prologue-script != ''
        run: ${{ matrix.prologue-script }}
      - name: Cache restore (MinGW)
        id: cache-restore-mingw
        if: matrix.needs-mingw != ''
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            C:\ProgramData\chocolatey\lib\mingw
          key: ${{ matrix.os }}-mingw-${{ matrix.needs-mingw }}-11-2
      - name: Set up MinGW ${{ matrix.needs-mingw }}
        if: matrix.needs-mingw != '' && steps.cache-restore-mingw.outputs.cache-hit != 'true'
        uses: egor-tensin/setup-mingw@84c781b557efd538dec66bde06988d81cd3138cf # v2.2.0
        with:
          platform: ${{ matrix.needs-mingw }}
          version: 12.2.0 # https://github.com/egor-tensin/setup-mingw/issues/14
      - name: Add MinGW to PATH
        if: matrix.needs-mingw != ''
        run: echo "C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw32\bin" >> $env:GITHUB_PATH
      - name: Checkout source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
      - name: Install lld (Unix)
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-24.04-arm'
        run: sudo apt install lld
      - name: Install Rust toolchain (stable)
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # stable
        with:
          toolchain: stable
          target: ${{ matrix.target_triple }}
      - name: Override toolchain
        run: rustup override set stable
      - name: Cache restore
        id: cache-restore-cargo
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ matrix.os }}-${{ matrix.target_triple }}-cargo-${{ hashFiles('**/Cargo.toml') }}-release
      - name: Build release (profile=distribution) for ${{ matrix.target-triple }}
        run: cargo build --package rsonpath --profile=distribution --target ${{ matrix.target_triple }}
        env:
          RUSTFLAGS: ${{ matrix.rustflags }}
      - name: Rename binary (Unix)
        if: matrix.os != 'windows-latest'
        run: rm -f target/distribution/rq-${{ matrix.target_triple }} && mv -f "target/${{ matrix.target_triple }}/distribution/rq" target/distribution/rq-${{ matrix.target_triple }}
      - name: Rename binary (Windows)
        if: matrix.os == 'windows-latest'
        run: mv -Force "target/${{ matrix.target_triple }}/distribution/rq.exe" target/distribution/rq-${{ matrix.target_triple }}.exe
      - name: Upload the binary as artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: rq-${{ matrix.target_triple }}
          # The * matches .exe if on windows and nothing otherwise.
          path: target/distribution/rq-${{ matrix.target_triple }}*
          if-no-files-found: error

  github-release:
    name: Release on GitHub
    runs-on: ubuntu-latest
    needs: [build, check-install]
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Download artifacts from build
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          path: release/
      - name: Generate provenance subjects
        id: hash
        run: echo "hashes=$(sha256sum release/**/* | base64 -w0)" > $GITHUB_OUTPUT
      - name: Generate provenance subjects sanity check
        id: hash-sanity
        run: echo "$(sha256sum release/**/* | base64 -w0)"
      - name: Create GitHub Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          name: ${{ github.ref_name }}
          files: release/**/*
          fail_on_unmatched_files: true
          prerelease: ${{ endsWith(github.ref, 'rc') || endsWith(github.ref, 'alpha') || endsWith(github.ref, 'beta') }}
          draft: true

  provenance:
    needs: [github-release]
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    permissions:
      actions: read
      id-token: write
      contents: write
    with:
      base64-subjects: ${{ needs.github-release.outputs.hashes }}
      upload-assets: true
      upload-tag-name: ${{ github.ref_name }}
      draft-release: true

  crates-io-release:
    name: Release on crates.io
    needs: [check-install, github-release, provenance]
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install Rust toolchain (stable)
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # stable
        with:
          toolchain: stable
      - name: Publish rsonpath-syntax
        run: |
          old_ver=$(cargo info rsonpath-syntax --registry crates-io | sed -n 's/version: \([0-9]\.[0-9].[0-9]\)/\1/p')
          new_ver=$(cargo pkgid rsonpath-syntax | sed 's/.*#//g')
          if [ $old_ver != $new_ver ]; then
            cargo publish --token ${{ secrets.CRATES_TOKEN }} -p rsonpath-syntax --no-verify
          fi
      - name: Publish rsonpath-syntax-proptest
        run: |
          old_ver=$(cargo info rsonpath-syntax-proptest --registry crates-io | sed -n 's/version: \([0-9]\.[0-9].[0-9]\)/\1/p')
          new_ver=$(cargo pkgid rsonpath-syntax-proptest | sed 's/.*#//g')
          if [ $old_ver != $new_ver ]; then
            cargo publish --token ${{ secrets.CRATES_TOKEN }} -p rsonpath-syntax-proptest --no-verify
          fi
      - name: Publish rsonpath-lib
        run: |
          old_ver=$(cargo info rsonpath-lib --registry crates-io | sed -n 's/version: \([0-9]\.[0-9].[0-9]\)/\1/p')
          new_ver=$(cargo pkgid rsonpath-lib | sed 's/.*#//g')
          if [ $old_ver != $new_ver ]; then
            cargo publish --token ${{ secrets.CRATES_TOKEN }} -p rsonpath-lib --no-verify
          fi
      - name: Publish rsonpath
        run: |
          old_ver=$(cargo info rsonpath --registry crates-io | sed -n 's/version: \([0-9]\.[0-9].[0-9]\)/\1/p')
          new_ver=$(cargo pkgid rsonpath | sed 's/.*#//g')
          if [ $old_ver != $new_ver ]; then
            cargo publish --token ${{ secrets.CRATES_TOKEN }} -p rsonpath --no-verify
          fi
