name: rsonpath-test codegen

on:
  workflow_call:
    outputs:
      artifact-name:
        description: Name of the produced artifact.
        value: rsonpath-test-documents
      artifact-path:
        description: Path to which the artifact should be extracted.
        value: crates/rsonpath-test

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RSONPATH_ENABLE_TEST_CODEGEN: 1
  CARGO_PROFILE_DEV_BUILD_OVERRIDE_DEBUG: "true"

permissions:
  contents: read

jobs:
  # Run the test codegen build step once and save the artifact to be used for all other steps.
  # This cuts down on CI time, since otherwise we'd regenerate tests on every step of the feature powerset test run.
  test-gen:
    name: Generate rsonpath-test cases
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            azure.archive.ubuntu.com:80
            crates.io:443
            index.crates.io:443
            static.crates.io:443
            static.rust-lang.org:443

      - name: Install lld
        run: sudo apt install lld
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true
      - name: Install Rust toolchain (stable)
        uses: dtolnay/rust-toolchain@a54c7afa936fefeb4456b2dd8068152669aa8203 # master
        with:
          toolchain: stable
          target: x86_64-unknown-linux-gnu
      - name: Override toolchain
        run: rustup override set stable
      - name: Cache restore (Cargo)
        id: cache-restore-cargo
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: x86_64-unknown-linux-gnu-x86_64-unknown-linux-gnu--cargo-${{ hashFiles('**/Cargo.toml') }}
      - name: Build with test codegen
        id: build-test-codegen
        run: cargo build -p rsonpath-test -vv
      - name: Upload generated tests as artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: rsonpath-test-documents
          path: |
            crates/rsonpath-test/documents
            crates/rsonpath-test/tests/generated
          retention-days: 1
