name: Triaged Issue
on:
  issues:
    types: [milestoned]

permissions:
  contents: read

jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: V0ldek/modify-label@65905feb4c09417e7caed08928595a0b4f9b3d42 # v1.0.0
        with:
          action: remove
          issue-number: ${{ github.event.issue.number }}
          label-id: "LA_kwDOHodxeM8AAAABA8dlvA"
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: V0ldek/modify-label@65905feb4c09417e7caed08928595a0b4f9b3d42 # v1.0.0
        with:
          action: add
          issue-number: ${{ github.event.issue.number }}
          label-id: "LA_kwDOHodxeM8AAAABA8dh3A"
          token: ${{ secrets.GITHUB_TOKEN }}
